<!DOCTYPE html>
  <html>
   <head>
            <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | CBS IITG{% endblock %}</title>
            
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>           
            <link rel="stylesheet" href="assets/css/materialize.min.css">
            <link rel="stylesheet" href="assets/css/styles.css">
            <link rel="stylesheet" href="assets/css/icon.css">

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
          
            <script type="text/javascript" src="assets/js/jquery.min.js"></script>
            <script type="text/javascript" src="assets/js/materialize.min.js"></script>
            <script type="text/javascript" src="assets/js/init.js"></script>

            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">        
        </head>


    <body>
			<div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper black">
                <a href="index.html" class="logo "><img src="assets/imgs/logo.png"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- Imabe for log size: 295px*85 -->
                <ul class="navbar-content right hide-on-med-and-down">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="radio.html">Radio</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="#log_in" class="modal-trigger">Log in</a></li>
                </ul>
                </div>
            </nav>
            </div>

            <ul class="sidenav" id="mobile-demo">
                <li><a href="index.html">Home</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="radio.html">Radio</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#log_in" class="modal-trigger">Log in</a></li>
            </ul>

            <div class="modal" id="log_in">
                <h5 class="modal-close">&#10005;</h5>
                <h3 class="login_title center-align">Log in</h3>
                <div class="modal-content center">
                <form action="#">
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input type="email" id="email" class="validate">
                        <label for="email">Webmail</label>
                        <!-- <span class="weblmail-helper" data-error="wrong" data-success="right">Helper text</span> -->
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="password">
                        <label for="password">Password</label>
                    </div>

                    <div class="switch left">
                    <label>                               
                        <input type="checkbox">
                        <span class="lever"></span>
                        Keep me logged in
                    </label>
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Log In" class="login_button btn btn-large black-text">
                </form>
                </div>
            </div>
	     
	 	

<!-- Page begining -->


<!-- Chat threads to be implemented later -->
  <!-- 
  <div class="fixed-action-btn">
    <a href="#" data-target="chat" class="btn-floating btn-large yellow z-depth-3 hoverable sidenav-trigger">
      <i class="large material-icons">chat</i>
    </a>
  </div>

  <div id="chat" class="sidenav chatbox grey lighten-3">
    <br><br>
    <div class="logo_sidenav_div center black valign-wrapper"><img class="valign logo_sidenav" src="assets/imgs/logo.png">
    </div>
    <br><br>

    <ul  class="">
      <li>
        <a class="chat_list bold collapsible-header waves-effect waves-yellow">Community</a>
        <div class="collapsible-body">
          <>
        </div>
      </li>
      <li>
        <a class="chat_list bold collapsible-header waves-effect waves-yellow">Show 1</a>
        <div class="collapsible-body">
          <>
        </div>
      </li>
      <li>
        <a class="chat_list bold collapsible-header waves-effect waves-yellow">Show 2</a>
        <div class="collapsible-body">
          <>
        </div>
      </li>
      <li>
        <a class="chat_list bold collapsible-header waves-effect waves-yellow">Show 3</a>
        <div class="collapsible-body">
          <>
        </div>
      </li>
      <li>
        <a class="chat_list bold collapsible-header waves-effect waves-yellow">Show 4</a>
        <div class="collapsible-body">
          <>
        </div>
      </li>
      <li>
        <a class="chat_list bold collapsible-header waves-effect waves-yellow">Show 5</a>
        <div class="collapsible-body">
          <>
        </div>
      </li>
      <li>
        <a class="chat_list bold collapsible-header waves-effect waves-yellow">Radio</a>
        <div class="collapsible-body">
          <>
        </div>
      </li>
    </ul>
  </div> -->

<div class="parallax-container radio_gif">
    <div class="parallax"><img src="assets/imgs/rsz_img0.png"></div>
        <div class="white-text">
        <div class="row container right-align">   
        <br><br>
        <div class="col s6 offset-s6">
            <h3>Now playing<br></h3>
            <h6 class="content">ADELE<br>Rolling in the deep</h6>
        </div>                  
        </div>                  
    </div>
</div>

<br><br>

<div class="container">
  <div class="request">
  <h4>Upcoming</h4>
  <br>
    <ul class="collection">
      <!-- 1 -->
      <li class="collection-item avatar">
        <i class="material-icons circle yellow">play_arrow</i>
        <span class="artist">Greenday</span>
        <p class="song">Demons
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>                 
      </li>
      <!-- 2 -->
      <li class="collection-item avatar">
        <img src="assets/imgs/openJam.jpg" alt="" class="circle">
        <span class="artist">Title</span>
        <p class="song">First Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <!-- 3 -->
      <li class="collection-item avatar">
        <img src="assets/imgs/logo.png" alt="" class="circle">
        <span class="artist">Title</span>
        <p class="song">First Line 
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>                  
    </ul>


  </div>
</div>

<br><br>

<div class="container">
  <div class="searchbox">
  <h4>Song requests</h4>
    
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>           


  </div>
</div>

<br>

<div class="container">
  <div class="thoughts">
  <h4>Share your thought with the us</h4>                
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>                
  </div>
</div>

	<!-- Footer -->
<footer>
    <div class="footer_section">
        <div class="container">
            <h5 class="footer_title">FOLLOW US on</h5><span class="right">
                <h6>Campus Broadcasting System</h6></span>
        </div>
        <div class="container">
            <a href="https://www.facebook.com/cbsiitg/" class="icn black-text"><i class="fab fa-facebook fa-3x"></i></a> 
            <a href="https://www.youtube.com/channel/UC0kIPzh0rwpCjGwpBfMgjsw" class="black-text"><i class="fab fa-youtube fa-3x"></i></a>
            <a href="https://instagram.com/cbs_iitg" class="fab fa-instagram fa-3x black-text"></i></a>
        </div>
    </div>   
</footer>
     	
    </body>


  </html>
        