<!DOCTYPE html>
  <html>
   <head>
            <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | CBS IITG{% endblock %}</title>
            
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>           
            <link rel="stylesheet" href="assets/css/materialize.min.css">
            <link rel="stylesheet" href="assets/css/styles.css">
            <link rel="stylesheet" href="assets/css/icon.css">

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
          
            <script type="text/javascript" src="assets/js/jquery.min.js"></script>
            <script type="text/javascript" src="assets/js/materialize.min.js"></script>
            <script type="text/javascript" src="assets/js/init.js"></script>

            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">        
        </head>



    <body>
            <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper black">
                <a href="index.html" class="logo "><img src="assets/imgs/logo.png"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- Imabe for log size: 295px*85 -->
                <ul class="navbar-content right hide-on-med-and-down">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="#">Radio</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="#log_in" class="modal-trigger">Log in</a></li>
                </ul>
                </div>
            </nav>
            </div>

            <ul class="sidenav" id="mobile-demo">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Radio</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#log_in" class="modal-trigger">Log in</a></li>
            </ul>

            <div class="modal" id="log_in">
                <h5 class="modal-close">&#10005;</h5>
                <h3 class="login_title center-align">Log in</h3>
                <div class="modal-content center">
                <form action="#">
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input type="text" id="username">
                        <label for="username">Username</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="password">
                        <label for="password">Password</label>
                    </div>

                    <div class="switch left">
                    <label>                               
                        <input type="checkbox">
                        <span class="lever"></span>
                        Keep me logged in
                    </label>
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Log In" class="login_button btn btn-large black-text">
                </form>
                </div>
            </div>
	 	

<!-- Page begining -->

<!-- Allumini -->

		<br>
   	 	<h3 class="center-align">It was all started by students!</h3>
   	 	<br>
   	 	<div class="carousel carousel-slider">
		    <a class="carousel-item" href="#one!"><img src="assets/imgs/raghu.jpg"></a>
		    <a class="carousel-item" href="#two!"><img src="assets/imgs/juan.jpg"></a>
		    <a class="carousel-item" href="#three!"><img src="assets/imgs/akshay.jpg"></a>
		    <a class="carousel-item" href="#four!"><img src="assets/imgs/vivek.jpg"></a>
		</div>
   	 	<br>
   	 	</div>

<!-- Current team -->

   	 	<h3 class="center-align yellow"><br>And is still running by students...<br><br></h3>
   	 	<br>
   	 	<div class="container">
   	 	  <div class="row">
   	 	  	<!-- card 1 -->
		    <div class="col l4 m6 s6">
		      <div class="card small">
		        <div class="card-image">
		          <img src="assets/imgs/akshay.jpg">
		        </div>
		        <div class="card-content center-align">
		          <h5 class="card-title">Name</h5>
		          <p>Work in CBS</p>
		        </div>		       
		      </div>
		    </div>

			<!-- card 2 -->
		    <div class="col l4 m6 s6">
		      <div class="card small">
		        <div class="card-image">
		          <img src="assets/imgs/akshay.jpg">
		        </div>
		        <div class="card-content center-align">
		          <h5 class="card-title">Name</h5>
		          <p>Work in CBS</p>
		        </div>		       
		      </div>
		    </div>
	   	 	<br>
		  </div>	
		</div>	

<!-- DEAN and chairman -->

		<h3 class="center-align yellow"><br>... with the guidance of proffesors<br><br></h3>
   	 	<br>
   	 	<div class="container">
   	 	  <div class="row">
   	 	  	<!-- card 1 -->
		    <div class="col l6 m12 s12">
		      <div class="card small">
		        <div class="card-image">
		          <img src="assets/imgs/akshay.jpg">
		        </div>
		        <div class="card-content center-align">
		          <h5 class="card-title">Name</h5>
		          <p>DOSSA</p>
		        </div>		       
		      </div>
		    </div>

			<!-- card 2 -->
		    <div class="col l6 m12 s12">
		      <div class="card small">
		        <div class="card-image">
		          <img src="assets/imgs/akshay.jpg">
		        </div>
		        <div class="card-content center-align">
		          <h5 class="card-title">Name</h5>
		          <p>Chairman</p>
		        </div>		       
		      </div>
		    </div>
	    </div>

<!-- committee -->
		<div class="row">
		    <!-- card 2 -->
		    <div class="col l4 m6 s6">
		      <div class="card small">
		        <div class="card-image">
		          <img src="assets/imgs/akshay.jpg">
		        </div>
		        <div class="card-content center-align">
		          <h5 class="card-title">Name</h5>
		          <p>Committee member</p>
		        </div>		       
		      </div>
		    </div>
	   	 	<br>
		  </div>	
		</div>

<!-- Footer -->
<footer>
    <div class="footer_section">
        <div class="container">
            <h5 class="footer_title">FOLLOW US on</h5><span class="right">
                <h6>Campus Broadcasting System</h6></span>
        </div>
        <div class="container">
            <a href="https://www.facebook.com/cbsiitg/" class="icn black-text"><i class="fab fa-facebook fa-3x"></i></a> 
            <a href="https://www.youtube.com/channel/UC0kIPzh0rwpCjGwpBfMgjsw" class="black-text"><i class="fab fa-youtube fa-3x"></i></a>
            <a href="https://instagram.com/cbs_iitg" class="fab fa-instagram fa-3x black-text"></i></a>
        </div>
    </div>   
</footer>


    </body>


  </html>
        